<!-- <p>Meu nome é{{ nome }}, tenho {{ idade }} anos.</p>
<p>{{ nome }} tem mais de 28 anos?</p>
<p>{{ idade > 28 }}</p>
<p>Quanto é idade + {{ maisUm }}</p>
<p>{{ idade + maisUm }}</p>

<hr />

<h2>Property Binding</h2>
<button [disabled]="checkedDisabled">Botão</button>

<img [src]="imgSrc" [title]="imgTitle" [alt]="imgTitle" />

<br />
<br />
<hr />
<h2>Event Binding</h2>

<button (click)="alertaInfo($event)">Event Binding</button>

<div
  (mousemove)="mouseMoveTest($event)"
  style="background-color: red; width: 300px; height: 300px"
></div>

<div>{{ position.x }} - {{ position.y }}</div>

<br />
<br />
<hr />

<h2>Two Way Binding</h2>
<input [(ngModel)]="nome" />
{{ nome }}

<br />
<br />
<hr /> -->
